<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ekstraksi Informasi</title>
    <link rel="stylesheet" type="text/css" href="static/styles/style.css" />
  </head>
  <body>
    <div class="main">
      <nav>
        <img src="static/images/univ.png" class="logo" width="17%" alt="" />
        <ul>
          <li><a href="/">Beranda</a></li>
          <li><a href="/ekstrak">Ekstraksi</a></li>
          <li><a href="/tentang">Tentang</a></li>
        </ul>
      </nav>
      <div class="detail">
        <h1>Named Entity Recognition</h1>
        <h1>Pada Bahasa Indonesia</h1>
        <h1>Berbasis Multiclass Classification</h1>
      </div>
      <div class="button">
        <a href="/ekstrak">Ekstrak</a>
      </div>
      <div class="images">
        <img src="static/images/unila.png" width="60%" alt="" />
      </div>
    </div>
  </body>
</html>
